@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0c0c0c;
  color: #00ff00;
  font-family: 'Courier New', monospace;
  height: 100vh;
  overflow: hidden;
}
